h1 {
  font-family: "Courier New", Courier, monospace;
  font-size: large;
}

/* _______________________*/

.mainContainer {
  display: flex;
}

/*________________________*/
#cameraButtonContainer {
  display: flex;
  background-color: black;
  padding: 2em;
}

#imageContainer {
  display: flex;
  width: 5em;
  height: 5em;
  border-radius: 2.5em;
  background-color: yellow;
  padding: 2em;
}
